@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';
#wrapper{
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}.carousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 600px;
    height: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}
/** Carousel **/
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.carousel li {
    float: left;
}

/** Carousel Controls **/

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

.carousel-control-prev:hover span,
.carousel-control-next:hover span {
    display: block;
}

.carousel-control-prev.inactive,
.carousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.carousel-pagination a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.carousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}